
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;700&family=Poppins:wght@400;700&family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap&family=Inter:wght@400;700&display=swap');
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textGlow {
  from {
    text-shadow: 0 0 10px #ff7e5f, 0 0 20px #feb47b, 0 0 30px #ff7e5f;
  }
  to {
    text-shadow: 0 0 20px #feb47b, 0 0 30px #ff7e5f, 0 0 40px #feb47b;
  }
}

/* Add custom font families */
body {
  font-family: 'Roboto', sans-serif; /* Default font */
}

h1 {
  font-family: 'Playfair Display', serif; /* Elegant font for headings */
}

p {
  font-family: 'Open Sans', sans-serif; /* Clean font for paragraphs */
}

button, a {
  font-family: 'Montserrat', sans-serif; /* Modern font for buttons and links */
}
.font-custom {
  font-family: 'Poppins', sans-serif;
}
.font-alex-brush {
font-family: 'Alex Brush', cursive;
}

.font-great-vibes {
font-family: 'Great Vibes', cursive;
}

.font-montserrat {
font-family: 'Montserrat', sans-serif;
}

.font-raleway {
font-family: 'Raleway', sans-serif;
}

.font-roboto {
font-family: 'Roboto', sans-serif;
}

.font-lato {
font-family: 'Lato', sans-serif;
}
.font-inter {
font-family: 'Inter', sans-serif;
}


